* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* flex-direction: column; */
}
.btn {
    background-color: slateblue;
    color: whitesmoke;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}
