* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    margin: 0;
    min-height: 100vh;
}
button {
    background-color: darkgreen;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
}
#container {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.toast {
    background-color: rgb(136, 19, 231);
    border-radius: 5px;
    color: rgb(230, 230, 230);
    padding: 1rem;
    margin: 0.5rem;
}
